<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestKeyBoard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>235B9A091D875A2C0016FAD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>235B9A1D1D875A2C0016FAD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>235B9A281D875A2D0016FAD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
